#employees, #roles, #to-dos {
	margin: 10px 20px;
}
			/*Employee Section*/
#employees {
	width: 200px ;
	min-height: 150px;
	border: 1px solid black;	
	list-style-type: none;
	padding: 0px;
	text-align: center;
	display: inline-block;
	position: fixed;
	top: 50px;
}

#employees .ui-draggable {
	width: 100px;
	height: 25px;
	margin: 0px auto;
}

			/*Roles Section*/
#roles {
	width: 200px;
	height: auto;
	border: 1px solid black;
	display: inline-block;
}


.role-header {
	width: 180px;
	font-size: bold 16px sans-serif;
	text-align: center;
	border-bottom: 1px solid black;
	background-color: #efefef;
}

#roles ul {
	width: 180px;
	min-height: 100px;
	border: 1px solid red;
	list-style-type: none;
	padding: 0px;
	margin: 10px auto;
}

.remove {
	width: 12px;
	height: 12px;
	float: right;
}

			/*To-Do Section*/
#to-dos {
	width: 500px;
	height: auto;
	border: 1px solid black;
	display: inline-block;
	position: absolute;
	left: 500px;
}

#name-header, #todo-header, #roles h4 {
	text-align: center;
	line-height: 30px;
	vertical-align: middle;
	height: 30px;
	background-color: #ececec;
	margin: 0px;
	border-bottom: 1px solid black;
}

.role-todos {
	width: 500px;
	height: auto;
	outline: 1px solid black;
	margin: 0px auto;
}

.sub-container {
	border: 1px solid red;
	width: 450px;
	height: auto;
	margin: 5px auto;
	padding: 5px;
}

#to-dos p {
	height: 30px;
	background-color: #ececec;
	line-height: 30px;
	margin:5px;
}

.show-hide {
	width: 15px;
	height: 15px;
	float: right;
	margin-right: 25px;
	margin-top: 5px;
}

#to-dos span {	
	display: inline-block;
	margin-left: 40%;
}
.employee-name {
	width: auto;
	height: 20px;
	text-align: center;
	border: 1px solid black;
	display: inline-block;
}

textarea {
	width: 300px;
	height: 60px;
	vertical-align: middle;
	margin-left: 20px;
	text-align: center;
	font-size: 16px;
}