img {
  width: 150px;
  height: 130px;
  border: 1px solid black;
  margin: 5px;
}

#product-grid {
  width: 900px;
  height: 800px;
  /*text-align: center;*/
  padding: 2px;
  border: 1px solid black;
}

#filters {
  width: 200px;
  height: 800px;
  padding: 2px;
  border: 1px solid black;
  /*margin-right: 20px;*/
  float: left;
}

#Brands, #Colors {
  width: 150px;
  padding: 3px;
  margin: 0px auto;
  /*border: 1px solid bl;*/
}

h4 {
  text-align: center;
}
